<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:component-scan base-package="com.lanou"/>
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--配置数据库四大属性-->
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/SSH项目"/>
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <property name="user" value="root"/>
        <property name="password" value="123456"/>
    </bean>
    <!--初始化SessionFactory对象-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    </bean>

    <bean id="staffDao" class="com.lanou.staff.dao.impl.StaffDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="staffService" class="com.lanou.staff.service.impl.StaffServiceImpl">
        <property name="staffDao" ref="staffDao"/>
    </bean>

    <bean id="staffAction" class="com.lanou.staff.action.StaffAction" scope="prototype">
        <property name="service" ref="staffService"/>
    </bean>



    <!--<bean id="postDao" class="com.lanou.post.dao.impl.PostDaoImpl">-->
        <!--<property name="sessionFactory" ref="sessionFactory"/>-->
    <!--</bean>-->

    <!--<bean id="postService" class="com.lanou.post.service.impl.PostServiceImpl">-->
        <!--<property name="postDao" ref="postDao"/>-->
    <!--</bean>-->

    <!--<bean id="postAction" class="com.lanou.post.action.PostAction">-->
        <!--<property name="service" ref="postService"/>-->
    <!--</bean>-->


    <!--<bean id="depDao" class="com.lanou.department.dao.impl.DepDaoImpl">-->
        <!--<property name="sessionFactory" ref="sessionFactory"/>-->
    <!--</bean>-->
    <!--<bean id="depService" class="com.lanou.department.service.impl.DepServiceImpl">-->
        <!--<property name="depDao" ref="depDao"/>-->
    <!--</bean>-->

    <!--<bean id="depAction" class="com.lanou.department.action.DepAction">-->
        <!--<property name="service" ref="depService"/>-->
    <!--</bean>-->





    <!--创建管理事务对象-->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="dataSource" ref="dataSource"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:advice id="staffAdvisor" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>


    <!--配置切面-->
    <aop:config>
        <!--声明切点-->
        <aop:pointcut id="staffPointCut" expression="execution(* com.lanou.*.dao.impl.*.*(..))"/>
        <!--配置顾问-->
        <aop:advisor advice-ref="staffAdvisor" pointcut-ref="staffPointCut"/>
    </aop:config>


</beans>